[2021-10-22 12:30] MetaMmodern opened #6 "Tags are not supported(yet?)"
Hello, I see that tag colorization support is included in Readme for this repo. But the Live demo of this repo: https://github.com/cucumber/monaco
does not show tags highlighting.
Is it something dependent on theme or do I need to enable it somehow in the editor config?

[2021-11-08 09:50] aslakhellesoy commented on #6
Indeed - I forgot to add support for tags! I'm working on a fix...

[2021-11-08 09:56] aslakhellesoy commented on #6
Correction: I actually had added support for tags:

* https://github.com/cucumber/language-service/blob/a9d4695a1b4cd87041617ef9b7b3420dd3d4950c/src/service/getGherkinSemanticTokens.ts#L68-L70
* https://github.com/cucumber/language-service/blob/a9d4695a1b4cd87041617ef9b7b3420dd3d4950c/test/service/getGherkinSemanticTokens.test.ts#L10
* https://github.com/cucumber/language-service/blob/a9d4695a1b4c

[2021-11-08 10:02] MetaMmodern commented on #6
Wow, hello @aslakhellesoy ) Well, talking about styling I just checked the live demo (https://cucumber.github.io/monaco/) and tags are white there, I mean the same color as steps. If you could maybe update the demo or show in this comment chain how can I add full color support it would be greately appreciated! (I've never worked with language servers and editors before on this kind of level, but I

[2021-11-08 12:20] aslakhellesoy opened #11 "Better handling of duplicate/missing parameter types"
There are some problems with `MessagesBuilder#processEnvelope`

* [ ] We should not try to register a parameter type that is already defined (because Cucumber-JVM emits them several times)
* [ ] We should define Cucumber-JVM's [extra parameter types](https://github.com/cucumber/cucumber-expressions#cucumber-jvm-additions) right before the first step definition if we've detected Cucumber-JVM.
* [ ]

[2021-11-08 17:33] aslakhellesoy commented on #6
I think this will be fixed by #12. I'll do a bit more testing in `@cucumber/monaco` and if it looks good I'll make a new release.

[2021-11-08 19:29] #6 closed

[2021-11-08 19:31] aslakhellesoy commented on #6
I've released `@cucumber/monaco 0.8.0` and `@cucumber/language-service 0.10.1` - please let us know if you still have problems! (Feel free to shout out if it works too 😄)

[2021-11-08 19:36] MetaMmodern commented on #6
@aslakhellesoy awesome, thank you) Will it work with vs-dark theme as well?

[2021-11-08 22:01] aslakhellesoy commented on #6
Yes, `vs-dark` works too

[2021-12-28 11:09] MetaMmodern commented on #6
@aslakhellesoy hey man, just checked in our project, works fine. Thanks again)

[2022-01-10 12:02] aslakhellesoy commented on #11
This is fixed by upgrading to cucumber-expressions 15.0.1 - see https://github.com/cucumber/cucumber-expressions/blob/main/CHANGELOG.md#1501---2022-01-04

[2022-01-10 12:02] #11 closed

[2022-01-12 09:58] aslakhellesoy opened #22 "Implement "Goto Implementation""
We should implement the [Goto Implementation Request](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_implementation) so that a user can navigate from a Gherkin step to the matching step definition.

This would involve (roughly):
* Refactor `ExpressionBuilder#build` to return an array of `ExpressionWithLocation`
* Return the locations of all

[2022-01-19 10:45] aslakhellesoy opened #15 "No StepDocuments for unused step definitions"
**Describe the bug**

The search index is only populated with documents where a step definition has at least one existing Gherkin step.
This is not very useful when a step definition is used for the first time - it won't be autocompleted!

**To Reproduce**

* Define a `I have {int} cukes` cucumber expression
* Build step documents
* Expect 1 document to be created (but there are 0)

**Expected beh

[2022-01-19 10:48] aslakhellesoy opened #16 "Create step documents from steps even if there are no matching step definitions"
**Is your feature request related to a problem? Please describe.**

There should be step documents created for Gherkin steps that don't have any matching expressions. This is useful when we're first fleshing out a few new scenarios:

[code]

[2022-03-16 21:58] Issafalcon opened #25 "Support for Cucumber in .NET"
### 🤔 What's the problem you're trying to solve?

I'm currently working on a plugin for Neovim that adds some of the niceties back in to the .NET developer workflow, building on top of the features already offered by the omnisharp-lsp and DAP. One of the things that keeps me going back to Visual Studio, is the lack of support for .feature files and the step definitions in .NET when writing Specflo

[2022-03-18 10:34] aurelien-reeves opened #26 "Suggestion snippet for step parameters is sometimes included as-is"
The suggestion snippet is sometimes not parsed properly - seen in vscode at the moment - and inserted as-is in the step:

[code]

A first hypothesis is that some characters may need to be escaped like spaces, coma, pipes, and more.

Refs.: https://github.com/microsoft/language-server-protocol/blob/main/snippetSyntax.md

[2022-03-18 10:49] aslakhellesoy commented on #25
Hi @Issafalcon thanks for offfering to help!

The language-specific code is in the [tree-sitter](https://github.com/cucumber/language-service/tree/main/src/tree-sitter) directory. Currently only Java and TypeScript is supported.

I suggest you start by adding a new test for C# in [ExpressionBuilder.test.ts](https://github.com/cucumber/language-service/blob/main/test/tree-sitter/ExpressionBuilder.t

[2022-03-24 12:56] Issafalcon commented on #25
Thanks @aslakhellesoy , no problem.

I'll take a look at tree-sitter (been meaning to learn how to write queries for other plugin ideas I have). I'm away for the next couple of weeks, but after that, I should have some free time.

[2022-03-24 13:05] aslakhellesoy commented on #25
👍🏻

[2022-04-06 17:57] Issafalcon commented on #25
Hi @aslakhellesoy. I've forked the repo and added what I think is required for the csharp queries (https://github.com/Issafalcon/language-service/tree/feature/csharp-support). However, I can't seem to build .wasm files that are loadable by the TS Parser. I thought it was just the c-sharp wasm file that wasn't working, but the ExpressionBuilder run via the tests also fail to load other wasm files a

[2022-04-08 08:46] aslakhellesoy commented on #25
Hi @Issafalcon great to hear you're making progress. Could you please submit a pull request against this repo so we can start giving feedback? You can mark it as draft if you feel it's not ready.

FYI: I'm going to be away for a week

[2022-04-08 17:06] Issafalcon commented on #25
Sounds good. I've linked the draft PR @aslakhellesoy .

[2022-04-22 10:50] aslakhellesoy commented on #15
Dupe of #16

[2022-04-22 10:50] #15 closed

[2022-04-25 12:19] #26 closed

[2022-04-27 14:21] aslakhellesoy opened #38 "Implement "Generate Step Definition""
### 🤔 What's the problem you're trying to solve?

When a user types an undefined step definition, we want to generate a step definition:

<img width="414" alt="Screenshot 2022-04-27 at 15 17 21" src="https://user-images.githubusercontent.com/1000/165539548-71c7d94e-2c74-407f-87f0-0019e353873d.png">

In VSCode this is done with `⌘.`

### ✨ What's your proposed solution?

Implement a [CodeAction](ht

[2022-05-05 13:47] aslakhellesoy opened #41 "Add support for Ruby"
See [CONTRIBUTING.md](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md) for details

[2022-05-05 13:48] aslakhellesoy opened #42 "Add support for JavaScript"
See [CONTRIBUTING.md](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md) for detailed instructions about how to prepare a pull request for this.

[2022-05-09 15:57] #41 closed

[2022-05-11 09:19] aslakhellesoy commented on #16
This is fixed in 1.0.4

[2022-05-11 09:19] #16 closed

[2022-05-11 14:27] NickSchudloProdigy opened #45 "Extension Unable to Recognize Step Definitions Due to Parsing Error"

[2022-05-11 15:44] aslakhellesoy commented on #45
@NickSchudloProdigy can you try to update the extension to 1.0.5? The output should now (hopefully) print the paths of files that couuldn't be parsed.

Can you share the output here please?

[2022-05-11 16:18] NickSchudloProdigy commented on #45
[code]

And here is an example of one of the feature files it's failing to parse
![image](https://user-images.githubusercontent.com/74211860/167898453-1f41d7ae-9632-4fcc-aaf6-ce4cfda6bbf7.png)

[2022-05-11 16:25] NickSchudloProdigy commented on #45
Oh I realized I had changed my glue config to point to the transpiled .js files for testing. When I changed it back to the .ts files I get this (where the last error is new):
[code]

[2022-05-11 16:35] NickSchudloProdigy commented on #45
Removing that defineParameterType seems to have fixed it for me

[2022-05-12 08:24] aslakhellesoy commented on #45
Thanks for your help diagnosing this @NickSchudloProdigy. Could you please try with `1.0.7`?

Try restoring your `defineParameterType` - I don't think your step definitions that use `{assetType}` will parse unless you leave it in.

[2022-05-12 13:15] NickSchudloProdigy commented on #45
It _does_ seem to have fixed something though, as the syntax highlighting seems to be working properly but there is still no auto complete.
![image](https://user-images.githubusercontent.com/74211860/168083048-048b471f-c0ea-4a72-b89e-d444d05793b6.png)
![image](https://user-images.githubusercontent.com/74211860/168083140-27a10e1f-e727-417d-a948-68823bde4522.png)

[2022-05-12 13:59] aurelien-reeves commented on #45
Did you tried defining AssetType in the extension's configuration as described here: https://github.com/cucumber/vscode#cucumberparametertypes?

[2022-05-12 14:41] NickSchudloProdigy commented on #45
I just added it and now it seems to think it already knows about the type:
[code]

[2022-05-12 15:39] aslakhellesoy commented on #45
It says:

In other words - *only* specify it if the parameter type *is not* defined in your own glue code.

[2022-05-12 16:35] aslakhellesoy commented on #45
I've released 1.0.9 which just warns if you register an existing parameter type. And fixed a bunch of other bugs.

Can you try again with `v1.0.9`?

[2022-05-23 08:47] yipingw opened #60 "Autocomplete not working with RegExp step definitions"
### 👓 What did you see?

Plugin cannot recognize feature file and autocomplete not working, keyword highlight not working as well.

### ✅ What did you expect to see?

Autocomplete should be working correctly and keyword like Feature, Given, When etc should be highlighted.

### 📦 Which tool/library version are you using?

Version: 1.67.2 (user setup)
Commit: c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5

[2022-05-23 11:00] #22 closed

[2022-05-23 19:54] aslakhellesoy opened #49 "Add support for Python (Behave)"
See [CONTRIBUTING.md](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md) for details.

[2022-05-24 13:33] #38 closed

[2022-05-24 15:57] NickSchudloProdigy commented on #45
@aslakhellesoy Unfortunately it still fails with the same error. It does find it though, but it's not available during indexing?
[code]

[2022-05-24 17:08] aslakhellesoy commented on #45
It's probably a mistake to specify `e2e/**/*.feature` as part of your glue, but the language server should be able to deal with that gracefully. I'll double check.

[2022-05-24 17:11] NickSchudloProdigy commented on #45
Yes it is `assetType`. I have only defined one parameter type in this project so far.

[2022-05-24 22:39] richwyantoddball commented on #45
I'm having similar issues after installing this. I have one step def and it cannot find it. I've tried the default values for `cucumber.features` and `cucumber.glue`, editing them to be more precise, and moving the classes. Nothing gets recognized. I also don't have the option to create a new step either.

![image](https://user-images.githubusercontent.com/102368447/170142816-691db612-2aec-4ad8-b8

[2022-05-25 08:59] Issafalcon opened #52 "C# Generate Step Definition is not quite correct"
### 👓 What did you see?
Firstly, I'm loving the new features! Now I don't have to open Visual Studio to get that nice Gherkin writing experience!

I've been trying out the 'Generate Step Definition' feature for C#, and it works nicely in nvim to generate the code action, and puts the step definition in the right place. However, it doesn't quite produce valid Specflow compatible step definition.

F

[2022-05-25 09:21] aslakhellesoy commented on #45
I've fixed a few bugs in `@cucumber/language-server 0.12.3` and the VSCode extension `1.2.1`. @NickSchudloProdigy *hopefully* I've also managed to fix the bug you've seen with reindexing.

Currently, generating step definitions for undefined steps only works if you already have at least one step definition that the language server has identified. This is because it needs to:

1. Determine what pro

[2022-05-25 09:25] aslakhellesoy opened #53 "Use correct keyword for And and But steps"
### 👓 What did you see?

Generate step definition generated a step with `And`

### ✅ What did you expect to see?

`Given`, or whatever the parent step uses.

[2022-05-25 09:39] aslakhellesoy commented on #52
Thank you! ❤️

Thanks, I'm aware of this. It's the same for other language too. I've created https://github.com/cucumber/language-service/issues/53 to track this.

We rely on the [Cucumber Expressions](https://github.com/cucumber/cucumber-expressions#cucumber-expressions) library to generate expressions for undefined steps. The library is currently only able to generate Cucumber Expressions, and n

[2022-05-25 09:49] Issafalcon commented on #52
Thanks for the reply @aslakhellesoy .

When I have a bit more time I'll dive a bit deeper into the requirements of the specflow method names and how it works with the language service so I can give you a more detailed answer, and I will try with the cucumber expressions package to get more information about using with that also.

[2022-05-25 10:58] #52 closed

[2022-05-25 13:17] NickSchudloProdigy commented on #45
@aslakhellesoy Hopefully the extra info output can help:
[code]

This is how `assetType` is defined:
[code]

[2022-05-25 13:43] aslakhellesoy commented on #45
Aha insteresting! I should be able to reproduce and fix this now.

[2022-05-25 13:56] aslakhellesoy commented on #45
Can you share the definition of `AssetType` as well please?

[2022-05-25 13:58] NickSchudloProdigy commented on #45
[code]

[2022-05-25 14:05] aslakhellesoy commented on #45
And finally, some cucumber expressions that use `{assetType}`?

[2022-05-25 15:51] NickSchudloProdigy commented on #45
Yeah that is something similar to what I have
[code]

[2022-05-25 17:34] richwyantoddball commented on #45
Thanks for the response, @aslakhellesoy. I upgraded to the latest version and restarted VS Code. Still getting same issue. Here's the output you asked for:
`
[Info  - 12:28:02 PM] Reindexing...
[Info  - 12:28:02 PM] * Found 0 feature file(s) in ["src/test/**/*.feature","src/test/resources/feature"]
[Info  - 12:28:02 PM] * Found 0 steps in those feature files
[Info  - 12:28:02 PM] * Found 0 glue fi

[2022-05-26 08:16] aslakhellesoy opened #57 "Re"
### 🤔 What's the problem you're trying to solve?

When a gherkin step is syntax highlighted I want to see the optionals in a different colour. Example:

[code]

The ` the` should be highlighted in a different colour to give the user a hint that this text is optional and can be removed.
The reason for this is the fix in https://github.com/cucumber/language-service/pull/56 - some optionals cannot be

[2022-05-26 08:38] aslakhellesoy commented on #45
@richwyantoddball I closed this because I believe #56 addressed the issue originally posted by @NickSchudloProdigy.

Your issue seems to be unrelated. You're not seeing any step definitions, but your logs suggest it's not because of a parsing error, but rather that no feature files or glue files are found from your settings globs. Please create a separate issue for this. Are you on Windows? If so,

[2022-05-26 08:48] aslakhellesoy commented on #45
@NickSchudloProdigy the bugfix is released in the VSCode extension version `1.2.3`. Please open a new issue referring this one if the problem persists.

[2022-05-26 12:55] NickSchudloProdigy commented on #45
Seems all good on my end! Thanks for working on fixing this 🎉

[2022-05-26 13:09] aslakhellesoy commented on #45
Thanks for confirming @NickSchudloProdigy and thanks again for providing all the logs so we could fix this!

[2022-05-26 13:19] richwyantoddball commented on #45
Thanks for your efforts, @aslakhellesoy. I'm on a Mac and upgraded to 1.2.3. Still having the same issue. I'll open a separate thread.

[2022-05-26 14:05] richwyantoddball opened #59 "Glue code not being found on Mac version"
### 👓 What did you see?
I'm starting to write some features with a proof-of-concept repo for automated testing. The tech stack(so far) is Java, Maven, and Sikuli and I believe I have the right coordinates in my pom to throw Cucumber into the mix. I added version `1.2.3` in VS Code and started to make some step defs. I noticed they weren't being recognized nor could I make a new one from a feature

[2022-05-26 14:45] aslakhellesoy commented on #59
Thanks for the detailed report @richwyantoddball.

Please install extension `1.2.4` which has a bit more logging. At the top of the log you should see something like this:

[code]

The globs you specify for `features` and `glue` are *relative* to the `Root path`.

The only reason I can think of that 0 files are found is that you don't have any files matching your globs. Hopefully the logged `Root

[2022-05-26 15:47] #60 closed

[2022-05-26 16:09] aslakhellesoy commented on #60
This should be fixed in extension `1.2.5`. If not, please reopen this issue. Thanks for providing all the info to help us fix this!

[2022-05-30 12:48] gasparnagy opened #62 "Non-verbatim C# expressions are not recognized"
With Cucumber Expressions in SpecFlow, it is not needed to use verbatim string literals for the step def expressions. So instead of `[When(@"I do something")]`, you would write `[When("I do something")]` (note the missing `@`).

The current implementation only recognizes step definitions with verbatim string [here](https://github.com/cucumber/language-service/blob/main/src/language/csharpLanguage.

[2022-05-30 12:53] gasparnagy opened #63 "SpecFlow step definitions with parametrized cucumber expressions are not recognized"
I have simple step definitions, like:

[code]

or

[code]

but the related steps are displayed as undefined. The ones without parameter work...

[2022-06-03 10:59] Issafalcon commented on #52
Hi @aslakhellesoy - Just to clarify on a couple of points:

- The method naming on StepDefinition generation is a Specflow convention thing. It's just what I was used to from using the Visual Studio specflow extension when generating the definitions. You're right in that it doesn't matter what the method name is, but I guess it would be good to keep that consistency between generating from the LSP

[2022-06-03 13:23] Issafalcon commented on #62
I also noticed this when playing around with the cucumber expressions syntax in Specflow. The fix should be straightforward.

[2022-06-05 20:48] aslakhellesoy commented on #49
How is ot going @mrkaiser? Anything I can do to help?

[2022-06-07 06:30] aslakhellesoy commented on #49
Thanks - looking forward to seeing it! And thanks for helping out with the contributor guide too.

[2022-06-07 20:43] mathpunk opened #66 "Apostrophes in steps can result in erroneous step-undefined errors"
### 👓 What did you see?

"The editor says this step is undefined, but I use it all the time. Huh..."

![image](https://user-images.githubusercontent.com/241202/172478125-09371e18-5d14-445c-812a-b166ee0b7eca.png)

And then I had a hunch and removed the apostrophes.

![image](https://user-images.githubusercontent.com/241202/172478502-bce5a452-fabd-4ee5-845e-f9a0da57f6ab.png)

### ✅ What did you expe

[2022-06-08 06:32] aslakhellesoy commented on #66
Thanks for reporting this. We’re not unescaping any single or double quotes AFAIK, so this is definitely a bug.

[2022-06-08 21:18] NickSchudloProdigy opened #67 "Parameter types defined with string arrays not being detected"
### 👓 What did you see?

Defining a parameter type with a string array isn't being detected by the VSCode extension.
Seeing this line in the Cucumber Language Server logs: `Found 0 parameter types in those glue files`

### ✅ What did you expect to see?

The language server should properly parse the parameter type defined using a string array.

### 📦 Which tool/library version are you using?

cucum

[2022-06-08 22:20] aslakhellesoy commented on #67
Thanks for the detailed bug report! Should be an easy fix.

[2022-06-10 11:57] aslakhellesoy commented on #62
I can confirm that this will be fixed by #68. I've verified with a local build of the VSCode extension and opened up https://github.com/specsolutions/202200607-EuroSTAR-AutomationWithSpecFlow/tree/main/A5

[2022-06-10 16:30] aslakhellesoy commented on #49
Hi @mrkaiser if you submit a draft pull request I can take a look.

Logs are still available in non-debug mode. All the debug mode gives you is ability to set breakpoints.

See https://github.com/cucumber/vscode/blob/main/CONTRIBUTING.md#console-output for details.

[2022-06-12 11:11] Issafalcon commented on #63
This sounds like a perfectly sensible approach to me @aslakhellesoy . Not being as familiar as yourself with this codebase, it sounds like, from your description, that this will work across step definitions in all languages.

One thing to note is the `StepArgumentTransformation` will be a verbatim string literal when special regex characters are used (i.e. `@"regex characters (.*)"`). I'm not sure

[2022-06-13 06:16] gasparnagy commented on #63
@aslakhellesoy Thx for the improvements. I have some notes/feedback.

- The unnamed parameters can be used with type name as you have observed, but makes sense to mention that this is always the .NET type name, not the c# keyword (`Int32` vs `int`). But the extension defines the most commonly used c# type keywords and use them as an alias for the full type name. So if you make a conversion with `d

[2022-06-13 09:09] Issafalcon commented on #63
The comprehensiveness of @gasparnagy 's reply compared to mine does a good job of highlighting the difference of one who writes the software, and one who simply consumes it :joy:

I think I'll defer to @gasparnagy in this case!

[2022-06-13 19:14] #62 closed

[2022-06-13 19:14] #63 closed

[2022-06-15 06:09] gasparnagy opened #70 "Go To Definition causes error (C#/SpecFlow)"
### 👓 What did you see?

The steps of a scenario are recognized as "defined" (parameter highlighting works), but when I invoke the "Go To Definition" command, it shows a new tab with an error that says "The editor could not be opened due to an unexpected error: File is a directory".

Strangely the header of the tab contains the file name (eg. "MenuStepDefinition.cs"). No additional info on the out

[2022-06-16 11:22] aslakhellesoy commented on #70
I think this might be a duplicate of https://github.com/cucumber/vscode/issues/78

[2022-06-16 11:53] gasparnagy commented on #70
@aslakhellesoy yeah. let's see. I would keep this open, to be able to verify that both are fixed, because the steps are quite different here.

[2022-07-02 14:34] aslakhellesoy commented on #49
Behave does not support Cucumber Expressions or parameter types. See https://github.com/behave/behave/issues/968.

The error you are seeing is from the JavaScript Cucumber Expressions library.
It's failing to parse a Regular Expression as a Cucumber Expression.
This is to be expected, they are two different languages, with different syntax and grammar.

I have left another review on #69 with some

[2022-07-07 14:28] aslakhellesoy opened #72 "Add support for Go (Godog)"
See [CONTRIBUTING.md](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md) for detailed instructions about how to prepare a pull request for this.

[2022-07-07 14:31] aslakhellesoy commented on #72
@dumpsterfireproject @vearutop @mxygem @mattwynne you might be interested in following this issue so the [Cucumber VSCode Extension](https://marketplace.visualstudio.com/items?itemName=CucumberOpen.cucumber-official) will work with Godog!

[2022-07-08 08:23] vearutop commented on #72
Interesting, if we could fix "undefined-step" for `godog` this extension would become very very helpful (and maybe could work as an implementation strategy for https://youtrack.jetbrains.com/issue/GO-5655).

Could you share some docs or places in code that are responsible for steps detection and parsing?

[2022-07-08 18:55] BrianHawley opened #91 "No steps found, so all steps seem to be undefined, on macOS"
### 👓 What did you see?

In feature files in my project, all steps get flagged as undefined steps.

### ✅ What did you expect to see?

Expected the steps to be defined, and be able to go to the definitions of those steps.

### 📦 Which tool/library version are you using?

MacOS 12.4 (Monterey), Ruby platform, cucumber 7.1.0, cucumber-rails 2.5.1. My steps are defined in `"features/step_definitions/

[2022-07-11 16:25] aslakhellesoy commented on #72
@vearutop see [CONTRIBUTING.md](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md#add-support-for-a-new-programming-language) for details.

[2022-07-14 14:15] #49 closed

[2022-07-14 14:39] aslakhellesoy commented on #70
Fixed in https://github.com/cucumber/language-server/pull/57

[2022-07-14 14:39] #70 closed

[2022-07-24 08:55] sevapopov2 opened #80 "Add pytest-bdd plugin's support"
### 🤔 What's the problem you're trying to solve?
I am trying to use automatic steps definition with Cucumber's extension with pytest as a framework for tests and pytestt-bdd plugin for BDD testing. When trying to invoke code actions in the feature file now, there is the message that no code actions are available to use. Also, auto completion isn't supported when pytest-bdd is used and there are re

[2022-07-31 08:52] aslakhellesoy commented on #80
Implementing this is not a priority for me.

If anybody else wants to add support for pytest-bdd, you can modify the existing Python support (which currently supports behave). It should only be a matter of adding more tree-sitter queries to discover step definitons using the [pytest-bdd/](https://pypi.org/project/pytest-bdd/) syntax.

See [CONTRIBUTING.md](https://github.com/cucumber/language-serv

[2022-08-02 11:15] aslakhellesoy commented on #80
@sevapopov2 is this something you'd be able to contribute yourself?

[2022-08-02 11:41] sevapopov2 commented on #80
I haven't done such job before, but I am trying to understand how to do that. I am installing all packages mentioned in vscode/CONTRIBUTING.md file and getting permition error messages while completing npm link command.
Do I understand correctly that I need to complete the steps mentioned in "Adding a new programming language" section in language-service/CONTRIBUTING.md file? Thank you!

[2022-08-02 13:23] sevapopov2 commented on #80
Before trying to implement pytest-bdd to this extension I decided to see how it works with behave.
I created a feature file, created empty steps file and a other empty file but when I am pressing ctrl+. in the feature file it doesn't suggest me to create step definition file, also it writes that steps aren't defined, though I formated them with CTRL+Shift+i command.
Can it be an issue that I am us

[2022-08-19 14:00] itsezc opened #82 "Language support for Rust"
### 🤔 What's the problem you're trying to solve?

Currently Rust is not supported so syntax highlighting is poor / non existent, although the usage for Cucumber in the Rust community is pretty large: https://github.com/cucumber-rs/cucumber

### ✨ What's your proposed solution?

Adding support for Rust in the Cucumber language server

### ⛏ Have you considered any alternatives or workarounds?

- Th

[2022-08-23 14:02] aslakhellesoy commented on #82
If anyone wants to tackle this - start [here](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md#add-support-for-a-new-programming-language)

[2022-08-26 16:37] #66 closed

[2022-08-26 16:48] aslakhellesoy commented on #80
Moved to https://github.com/cucumber/language-service/pull/84

[2022-08-26 16:48] #80 closed

[2022-08-28 08:42] #67 closed

[2022-08-29 16:39] kblestarge opened #87 "Support for tsx step definitions"
### 🤔 What's the problem you're trying to solve?

I'm trying to use this extension with a React app, but no matter how I configure the settings.json -> cucumber.glue settings I can't seem to get it to work with my step definitions defined in .tsx files.

Here's what I'm seeing:
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/11730298/187250652-da3f9a1f-3c63-4730-b236-c

[2022-08-30 07:59] aslakhellesoy commented on #87
I think we're going to need a fix for this. The language service only parses TypeScript, not TSX. See https://github.com/tree-sitter/tree-sitter-typescript.

It should be possible to add though. See [CONTRIBUTING](https://github.com/cucumber/language-service/blob/main/CONTRIBUTING.md#add-support-for-a-new-programming-language).

Would you be interested in helping out with a pull request @kblestarg

[2022-08-31 13:00] bgibb95 opened #88 "And step not being recognised as a step in feature file"
### 👓 What did you see?

**And** step not being recognised as a step in feature file.

### ✅ What did you expect to see?

**And** steps found in TypeScript file and no warning messages.

### 📦 Which tool/library version are you using?

Cucumber VS Code extension - `v1.2.11`
VS Code - `v1.70.2 `
macOS Monterey - `v12.5.1 (21G83)`

[code]

### 🔬 How could we reproduce it?

**testing/e2e/cypress/inte

[2022-08-31 16:54] kblestarge commented on #87
@aslakhellesoy I might be interested. I'm not sure I have time tho. Let me see what my weekend looks like and get back to you.

[2022-08-31 20:46] kblestarge commented on #87
@aslakhellesoy would you suggest adding a new language called `tsx`? or have .tsx files recognized under the Typescript language?
(looking for tips in case I choose to contribute on this)

[2022-09-01 10:18] aslakhellesoy commented on #87
I’d definitely recommend adding a new language. There might be some duplication with `ts`, but I wouldn’t worry about that. We can always refactor and remove duplication later.

Thanks for helping out! ❤️

[2022-09-02 07:59] bgibb95 commented on #88
Thanks for the response and explanation. I had a look at the Cucumber documentation and it seems that Cucumber does recognise `And` and `But` keywords, and also mentions them as a solution to an anti-pattern.

[Cucumber Conjunction Steps](https://cucumber.io/docs/guides/anti-patterns/?sbsearch=And+step&lang=javascript#conjunction-steps
)
<img width="1417" alt="Screenshot 2022-09-02 at 9 33 30 AM"

[2022-09-05 09:41] aslakhellesoy commented on #88
I'm closing this as I am convinced the fix should be in `cypress-cucumber-preprocessor` (removing these keywords from the step definition API)

[2022-09-05 09:41] #88 closed

[2022-09-08 15:41] #87 closed

[2022-09-08 15:43] aslakhellesoy commented on #87
I figured out a way to do this by simply switching from `typescript` to `tsx` - even for plain old TypeScript without JSX!

[2022-09-10 20:03] aslakhellesoy commented on #91
Allright - Cucumber for VSCode 1.3.0 is being published as I write this. RegExp flags should now be recongised. Thanks for the feedback @vitaminj and @BrianHawley.

Please open a new issue if you're stil having problems.

[2022-09-10 20:03] #91 closed

[2022-09-20 20:44] flyboarder opened #94 "Issue with And/But detection in TypeScript"
### 👓 What did you see?

`And`/`But` is not recognized in as Step Definition, getting undefined step errors.

### ✅ What did you expect to see?

`And`/`But` is a valid keyword and steps are detected.

### 📦 Which tool/library version are you using?

vs-code extension v1.3.0

### 🔬 How could we reproduce it?

Use feature files with 'And' keyword and typescript, with VS Code Extension installed.

##

[2022-09-30 08:52] DouyuShinyruo opened #100 "Got an error when equesting textDocument/codeAction"
### 👓 What did you see?
Got an error when equesting textDocument/codeAction.
I wrote `And 60 minutes have passed`  in my feature file and wrote `    @When("{int} {time_unit} have/has passed")` in my *.steps.java and I hope the feature file should jump to the step definition, but it got a error.
[code]

### ✅ What did you expect to see?
The feature file should jump to the step definition.

### 📦 Wh

[2022-09-30 09:34] aslakhellesoy commented on #94
We won't fix this - see details in #95

[2022-09-30 09:34] #94 closed

[2022-09-30 16:11] nextlevelbeard opened #96 "Error thrown when using a Step from a Definition with an optional parameter"
### 👓 What did you see?

Error is thrown when a valid step is described in a Scenario:

[code]

### ✅ What did you expect to see?

No errors.

### 📦 Which tool/library version are you using?

Extension version 1.3.0

### 🔬 How could we reproduce it?

With the following valid Step Definition:
[code]
and the Step `I should be on the Map` :
[code]

### 📚 Any additional context?

The step definition i

[2022-10-04 10:58] aslakhellesoy opened #98 "Implement Document Symbols Request"
### 🤔 What's the problem you're trying to solve?

See the outline of a Gherkin Document in my editor

### ✨ What's your proposed solution?

Implement [Document Symbols Request](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_documentSymbol).

### ⛏ Have you considered any alternatives or workarounds?

Yes - implementing it directly in a VSCo

[2022-10-05 13:14] 10xtechie commented on #98
@aslakhellesoy ,
Which keywords (`Scenario`, `Rule`) of **Cucumber** should we provided by this new service?

[2022-10-05 14:32] aslakhellesoy commented on #98
We should look for the following keywords: `Feature`, `Rule`, `Scenario`, `Examples`. We might also want to add `Given/When/Then/And` (steps), but let's omit that for now.

I think you should add a new `getGherkinDocumentSymbols(gherkinSource: string): readonly DocumentSymbol[]` function in `src/service/getGherkinDocumentSymbols.ts`.

I recommend you start by writing a failing test that:

* calls

[2022-10-05 14:49] #82 closed

[2022-10-05 15:52] aslakhellesoy commented on #100
I think the best we can do here is to strip away any `(?i)` flags from parameter type regexps. This means they would no longer be case-insensitive in the language server (and the VSCode extension), so some Gherkin steps might show up as undefined.

Using the case insensitive flag in parameter type regexps is disallowed in the Ruby and JavaScript implementations of Cucumber Expressions:

https://gi

[2022-10-05 18:18] mpkorstanje commented on #100
This is a difficult one.

It would definitely solve the problem for VS code, but also:

* It would be a breaking change so we'd have to delay it until Cucumber JVM 8.0.
* It's kinda useful. While most people will write `seconds`, a few might write `Seconds`.
* It feels like playing whack-a-mole. What's the next cross platform difference that we could hit?

How does VS code currently handle Java re

[2022-10-06 10:54] aslakhellesoy commented on #100
I agree. We'd have supported it in the JavaScript/Ruby implementations if `(?i)` was supported.

We parse them and hope for the best. We have done 0 work to make sure they work.

We do some sanitisation of Python regexps - they also have some features that are unsupported in JavaScript. See https://github.com/cucumber/language-service/blob/e6579c2ed0faff4c286e6ebc40de05e2e5c6fb24/src/language/pyth

[2022-10-06 18:19] onthespotqa opened #101 "Plugin doesn't recognize steps that use `` instead of '' or """
### 👓 What did you see?

Extension does not recognize steps that use backticks instead of quotes.

### ✅ What did you expect to see?

I would expect the extension to recognize steps that use backticks.

### 🔬 How could we reproduce it?
In a step file create a step that uses backticks

[code]

[2022-10-07 08:33] aslakhellesoy commented on #101
Partial support for template literals (`I fill:`) would be trivial to add. However, string interpolation cannot be supported (`I ${something}`).

This library parses the source code (using the tree-sitter library) to extract the step definition expressions, but it doesn’t *execute* or *interpret* the source code, which would be necessary in order to evaluate string interpolation.

We could recogni

[2022-10-07 08:35] aslakhellesoy commented on #42
#99 is an excellent example to look at for anyone wishing to contribute this.

[2022-10-07 18:07] GoooIce opened #103 "rust language cant auto define step right"
### 👓 What did you see?
when fix from feature file
[code]

got
[code]

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '....'
4. See error '....'

### 📚 Any additional context?
I fond rootNode
[code]
only got
[code]

---

[2022-10-08 01:34] #103 closed

[2022-10-08 01:35] GoooIce commented on #103
This description is so inaccurate that I'll go ahead and shut him down to try to write a test.

[2022-10-08 07:37] aslakhellesoy commented on #98
Hi @10xtechie - have you made any progress on this? I have an implementation of this that I haven't pushed - I wanted to give you a chance to complete yours first :-)

[2022-10-09 23:33] 10xtechie commented on #98
@aslakhellesoy ,
I am sorry for this late reply as I was tied up. Thanks for awaiting my implementations. I have just pushed my initial changes. I am in two minds: should LSP return the array of Document Symbols with custom tree format or should it return Document Symbols using [Tree View API Basics](https://code.visualstudio.com/api/extension-guides/tree-view).
Please provide me with your feedbac

[2022-10-10 16:36] xeger commented on #101
Good question! In my project, I'm using template literals because my steps frequently use both `'` (in the grammatical genitive sense) and `"` (to quote multi-word parameters). The backtick is a handy way avoid escaping one or the other. I don't use substitution in my template literals, and naturally I wouldn't expect Cucumber to help if I were too.

Your proposal to handle substitution-free liter

[2022-10-10 19:16] #98 closed

[2022-10-10 20:31] #101 closed

[2022-10-10 20:34] #100 closed

[2022-10-10 21:29] aslakhellesoy commented on #101
@xeger @onthespotqa should be fixed in Cucumber VSCode 1.5.0. If you like it, please give us ⭐⭐⭐⭐⭐ at https://marketplace.visualstudio.com/items?itemName=CucumberOpen.cucumber-official

❤️

[2022-10-10 22:23] xeger commented on #101
Confirmed that it's not working for me, either, with 1.5.0. 🤔 I will review your PR and see if there's an obvious reason.

I lack permission to reopen this issue; will open a new one if I have anything useful to contribute in the way of troubleshooting details.

[2022-10-10 22:43] aslakhellesoy commented on #101
I just pushed 1.5.1 where I believe it's fixed. The fix was 001e34f4014499b6ec6a30c529269f1515eec348.

[2022-10-10 22:46] aslakhellesoy commented on #101
Now did I earn some ⭐⭐⭐⭐⭐  at [the marketplace](https://marketplace.visualstudio.com/items?itemName=CucumberOpen.cucumber-official)? 🥺

[2022-10-11 03:50] xeger commented on #101
You've earned a lot more than that, my friend, with all of the excellent tooling you've given me over the years!

[2022-10-17 16:58] onthespotqa commented on #101
confirmed its fixed. thanks for the quick turnaround.

[2022-10-19 14:22] DanielSCy opened #111 "Parsing error for step definition written in Java"
### 👓 What did you see?

I have below step defined in my steps file:

@Given("I have a menu item with name \"([^\"]+)\" and price (\\d+)")

The \ before " is required by Java but the language server should only see ". Also, when I run the tests everything is well, so it's not an issue with the definition of the step or the feature file. However, the language server gives the below exception and th

[2022-11-03 21:10] mirogta commented on #72
@aslakhellesoy not a big fan of godog… if I wanted to add a support for Go but [go-bdd](https://github.com/go-bdd/gobdd), would that go under this same issue or a different one?

[2022-11-12 09:30] aslakhellesoy commented on #111
Hi @DanielSCy thanks for reporting this. It sounds like we need to handle escapes better in `unescapeString`: https://github.com/cucumber/language-service/blob/3bfbad6c7e323bc917f231519b6e78b82b655d88/src/language/javaLanguage.ts#L126

Currently it's only escaping `\\` back to `\`, but it should handle all Java String escapes.
A test for this should be added to https://github.com/cucumber/language

[2022-11-18 08:02] josemigallas opened #113 "Not working. Too many features and steps?"

[2022-11-18 13:14] aslakhellesoy commented on #113
Looking at the logs again, it looks like reindexing worked the first time, and only took a couple of seconds. It's the second time it doesn't complete. That rules out the slowness hypothesis. It could still run out of memory though.

[2022-11-24 09:20] mojo2012 opened #117 "Support localized java annotations"